XDEBUG_CONFIG=remote_host=172.17.0.1 idekey=skeleton-app remote_enable=1 auto_trace=0 profiler_enable=1 profiler_output_dir=/var/www/html/var/logs/xdebug profiler_enable_trigger=1 max_nesting_level=1000
PHP_IDE_CONFIG=serverName=app_host
